<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>みんさく</title>
</head>
<body>
    <header>
      
    </header>
    <section id="filterBar">
      <div class="container">
        <div class="button-wrap">
          <form action="/iphone" method="post">
              <input type="submit" value="iPhone">
          </form>
          <form action="/webD" method="post">
              <input type="submit" value="Webデザイン">
          </form>
          <form action="/webS" method="post">
              <input type="submit" value="Webサービス">
          </form>
          <form action="/minecraft" method="post">
              <input type="submit" value="Minecraft">
          </form>
          <form action="/mediaArt" method="post">
              <input type="submit" value="MediaArt">
          </form>
          <form action="/unity" method="post">
              <input type="submit" value="Unity">
          </form>
        </div>        
      </div>
    </section>
    <section id="postsList">
      <div class="container">
        <div class="posts-wrap">
          <!--posts-wrapの中身の情報はデータを持ってきてeachで回して出しちゃえばおkです！-->
          <div class="post">
            <img src="test_img/test.png" alt="Girl in a jacket">
            <h3>推しアイドルグッズ</h3>
            <p>#iPhone</p>
          </div>
          <div class="post">
            <img src="test_img/test.png" alt="Girl in a jacket">
            <h3>推しアイドルグッズ</h3>
            <p>#iPhone</p>
          </div>
          <div class="post">
            <img src="test_img/test.png" alt="Girl in a jacket">
            <h3>推しアイドルグッズ</h3>
            <p>#iPhone</p>
          </div>
          <div class="post">
            <img src="test_img/test.png" alt="Girl in a jacket">
            <h3>推しアイドルグッズ</h3>
            <p>#iPhone</p>
          </div>
          <div class="post">
            <img src="test_img/test.png" alt="Girl in a jacket">
            <h3>推しアイドルグッズ</h3>
            <p>#iPhone</p>
          </div>
          <div class="post">
            <img src="test_img/test.png" alt="Girl in a jacket">
            <h3>推しアイドルグッズ</h3>
            <p>#iPhone</p>
          </div>
        </div>
      </div>
    </section>
</body>
</html>
